PORT=8000
FE_URL=http://localhost:3030

DATABASE_URL=postgresql://postgres:postgres@localhost:5440/problem5
DATABASE_SSL=false

BETTER_AUTH_SECRET=change-me-to-a-random-32-char-string!!
BETTER_AUTH_URL=http://localhost:8000
